@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication1.Models.City
<h3>Create City</h3>

<form asp-action="CreateCity" method="post">
    <label asp-for="Name">City Name</label>
    <input type="text" name="Name" />
    <select  name="CountryId" asp-items="ViewBag.Countries"></select>
    <input type="submit" />
</form>
