@model dynamic

@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<p>Hi, I'm Benjamin Nordin, a Software Developer from Sweden, with an interest in Game Development, 3D Modeling, Texturing, Composing Music, Anime, and more</p>
<a href="https://github.com/UnboundKey">GitHub</a>