@model dynamic

@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<div class="Contact-info">
    <p>Email:<a href="mailto:thisisafakeemail@notreal.com">thisisafakeemail@notreal.com</a></p>
    <p>Phone Number: <a href="call:01189998819991197253">01189998819991197253</a></p>
</div>
