@model dynamic

@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="projects-container">
    <div class="project">
        <h1>Lexicon Calculator Assigment</h1>
        <p>This is the first assignment i got from my Education at Lexicon, which involved making a small calculator console application</p>
        <a href="https://github.com/UnboundKey/LexiconAssignment1-Calculator">Github Link</a>
    </div>
    
    <div class="project">
        <h1>Lexicon Hangman Assignment</h1>
        <p>In this assignment, we got to recreate the game hangman as a terminal application, i also went the extra mile and made it so that you can supply your own wordlist and play with that instead of the built in one.</p>
        <a href="https://github.com/UnboundKey/LexiconAssignment2-Hangman">Github Link</a>
    </div>
    
    <div class="project">
        <h1>Lexicon Calculator XUnit Testing Assigment</h1>
        <p>Here we went back to the first assignment again and rewrote it to make unit-testing possible</p>
        <a href="https://github.com/UnboundKey/LexiconAssignment3-Calculator-UnitTesting">Github Link</a>
    </div>
    
    <div class="project">
        <h1>Lexicon Vending Machine Assigment</h1>
        <p>In this assignment we were taught about Interfaces, Inheritance, and how to use them to make extensions easier. To do this we made a Vending Machine and an interface for it. It keeps track of how much money you put in and if you can buy items. It will also return the amount of change once the user decides to finish a transaction</p>
        <a href="https://github.com/UnboundKey/LexiconAssignment4-VendingMachine">Github Link</a>
    </div>
    
    <div class="project">
        <h1>Lexicon FrontEnd Assignment 1: HTML</h1>
        <p>Here we were tought about html and how to use it to make the skeleton of a web page</p>
        <a href="https://github.com/UnboundKey/LexiconFEAssignment1">Github Link</a>
    </div>
    
    <div class="project">
        <h1>Lexicon FrontEnd Assignment 2: CSS</h1>
        <p>In this assignment we added css to the webpage we had made in the previous assigment, according to the specs we were given</p>
        <a href="https://github.com/UnboundKey/LexiconFEAssignment2">Github Link</a>
    </div>
    
    <div class="project">
            <h1>Lexicon SokobanJS Assignment</h1>
            <p>In this assignment we were given the task of recreating the block pushing puzzle game sokoban in Javascript.</p>
        <a href="https://github.com/UnboundKey/SokobanJS">Github Link</a>
        <a href="https://sockless.se/sokobanjs">Play it Here</a>
        </div>
    

</div>
