@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<label>Person ID</label>
<input type="number" id="personIDNumber"/>
<button onclick="GetAll()">People</button>
<button onclick="GetPerson()">Details</button>
<button onclick="DeletePerson()">Delete Person</button>


<div id="result"></div>

<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/media/js/PersonContentManager.js"></script>
